<!-- content -->                      
<div class="row">

	<div class="col-sm-12">
	<h2>検索結果</h2>

	<% if !@users.empty? %>
	<h3>ユーザー</h3>
	<%= render 'hacker/users/user_list' %>
	<hr>
	<% end %>

	<% if !@projects.empty? %>
	<h3>プロジェクト</h3>
	<%= render 'hacker/projects/project_list' %>
	<hr>
	<% end %>

	</div>

</div><!--/row-->
