<!-- main col --> 
<div class="col-sm-12">
<% if !@user.user_posts.blank? %>
  <% @user.user_posts.order(created_at: 'desc').each do |user_post| %>

  <div class="row well">
	<div class="col-md-12">
	<%= simple_format(user_post.content, class: "lead") %>
	</div>
  </div>
  <hr>

  <% end %>
<% end %>
</div>