<!-- content -->                      
<div class="row">
  <div class="col-md-12">
    
    <h3>Followしているユーザー</h3>

    <%= render 'hacker/users/user_list', users: @users %>
  </div>  
</div><!--/row-->